/* body {
  background: #d3d6d9;
  font-family: arial;
  text-align: center;
  font-weight: bold;
  letter-spacing: 0.21rem;
  line-height: 1.2rem;
  color: #666;
}
  .ovalshadow {
    position: absolute;
    background-color: #fff; 
    background-image: 
      linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
      linear-gradient(#eee 2px, transparent 2px);
    background-size: 100% 19px;
    width: 50%;
    height: 1rem;
    padding: 20px 50px 40px;
    text-transform: uppercase;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    cursor: pointer;
}

 */
 p{
    color: #666;
    background-color: none;
    letter-spacing: 0.1rem;
}
body {
  background: #d3d6d9;
  font-family: arial;
  text-align: center;
  font-weight: bold;
  letter-spacing: 0.21rem;
  line-height: 1.2rem;
  color: #666;
}


  .ovalshadow {
    position: absolute;
    background-color: #fff;
    background-image: linear-gradient(
        90deg,
        transparent 79px,
        #abced4 79px,
        #abced4 81px,
        transparent 81px
      ),
      linear-gradient(#eee 2px, transparent 2px);
    background-size: 100% 19px;
    width: 50%;
    height: 1rem;
    padding: 20px 50px 40px;
    text-transform: uppercase;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 1;
    cursor: pointer;
  }
  
.gen{
position: relative;
top: 100px;
/* z-index:1; */

}
.text{
    position: relative;
    top: 150px;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 30px;
}


button {
	box-shadow:inset 0px 0px 0px -50px #ffffff;
	background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
	background-color:#ededed;
	border-radius:42px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#777777;
	font-family:Verdana;
	font-size:15px;
	font-weight:bold;
	padding:10px 21px;
	text-decoration:none;
	text-shadow:0px 0px 13px #ffffff;
}
button:hover {
	background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
	background-color:#dfdfdf;
}
button:active {
	position:relative;
	top:1px;
}

img{
    width: 50px;
    position: relative;
    top: 100px;
    margin-left: 30px;
    margin-right: 10px;
}